@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/circular/CircularStd-Book.otf') format('opentype');
}

@font-face {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./fonts/circular/CircularStd-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'P22 Mackinac Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/mackinac/P22MackinacPro-Book_25.otf') format('opentype');
}

@font-face {
  font-family: 'P22 Mackinac Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./fonts/mackinac/P22MackinacPro-Bold_16.otf') format('opentype');
}

@font-face {
  font-family: 'P22 Mackinac Pro';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('./fonts/mackinac/P22MackinacPro-ExtraBold_12.otf')
    format('opentype');
}

@layer components {
  .g-elevation-0 {
    box-shadow: 0px 0px 0px;
  }

  .g-elevation-1 {
    box-shadow: 0px 4px 8px rgb(0 0 0 / 12%);
  }

  .g-elevation-2 {
    box-shadow: 0px 4px 16px rgb(0 0 0 / 16%);
  }

  .g-elevation-3 {
    box-shadow: 0px 4px 24px rgb(0 0 0 / 24%);
  }

  .g-elevation-4 {
    box-shadow: 0px 4px 32px rgb(0 0 0 / 32%);
  }
}
